
.icon-green{

    color:green;
    text-decoration: none;
    margin: 0 8px;
}
.icon-gray{
    color:gray;
    text-decoration: none;
    margin: 0 8px;
}
.icon-silver{
     color: silver;
     text-decoration: none;
     margin: 0 8px;
}
